<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Posture Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header class="header">
        <h1>Gym Posture Detection</h1>
        <nav class="navbar">
            <a href="{{ url_for('about') }}" class="nav-button">About</a>
            <a href="{{ url_for('features') }}" class="nav-button">Features</a>
            <a href="{{ url_for('contact') }}" class="nav-button">Contact</a>
            <a href="{{ url_for('signin') }}" class="nav-button">Sign In</a>
        </nav>
    </header>

    <section class="hero">
        <h2>Select an Exercise</h2>
        <div class="exercise-container">
            <div class="exercise-card">
                <img src="{{ url_for('static', filename='images/armcurl.jpeg') }}" alt="Arm Curl">
                <h3>Arm Curl</h3>
                <a href="{{ url_for('exercise', exercise_name='armcurl') }}" class="start-button">Start</a>
            </div>
            <div class="exercise-card">
                <img src="{{ url_for('static', filename='images/pushups.jpeg') }}" alt="Pushup">
                <h3>Pushup</h3>
                <a href="{{ url_for('exercise', exercise_name='pushup') }}" class="start-button">Start</a>
            </div>
            <div class="exercise-card">
                <img src="{{ url_for('static', filename='images/weightlifting.jpeg') }}" alt="Weightlifting">
                <h3>Weightlifting</h3>
                <a href="{{ url_for('exercise', exercise_name='weightlifting') }}" class="start-button">Start</a>
            </div>
            <div class="exercise-card">
                <img src="{{ url_for('static', filename='images/squats.jpeg') }}" alt="Squat">
                <h3>Squat</h3>
                <a href="{{ url_for('exercise', exercise_name='squat') }}" class="start-button">Start</a>
            </div>
            <div class="exercise-card">
                <img src="{{ url_for('static', filename='images/Lunge.jpeg') }}" alt="Lunge">
                <h3>Lunge</h3>
                <a href="{{ url_for('exercise', exercise_name='lunge') }}" class="start-button">Start</a>
            </div>
            <div class="exercise-card">
                <img src="{{ url_for('static', filename='images/plank.jpeg') }}" alt="Plank">
                <h3>Plank</h3>
                <a href="{{ url_for('exercise', exercise_name='plank') }}" class="start-button">Start</a>
            </div>
        </div>
    </section>

    <footer class="footer">
        <p>Thanks for visiting!</p>
    </footer>
</body>
</html>
